:root::-webkit-scrollbar {
    width: 0px;
}

:root {
    --swiper-theme-color: #cf2757 !important;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

input.footer-input::-webkit-input-placeholder {
    color: #fff;
}

input.footer-input:-moz-placeholder {
    color: #fff;
}

input.contact-input::-webkit-input-placeholder {
    color: #ae73db;
}

input.contact-input:-moz-placeholder {
    color: #ae73db;
}

select::-webkit-input-placeholder,
select:-moz-placeholder {
    color: #a2a9b8;
}

/* animation */
.animation {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}

.animation.active {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.orientation-mixed {
    text-orientation: mixed;
}

.writing-mode-vertical {
    writing-mode: vertical-lr;
}

.writing-mode-horizontal {
    writing-mode: horizontal-tb;
}

.flip-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flag-animation {
    animation: flagAnimation 1.5s infinite;
}

.lantern-animation {
    animation: lanternAnimation 1.5s infinite;
    animation-delay: .5s;
}

.airplane-animation {
    animation: airplaneAnimation 2s infinite;
}

.service-label {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.tax-service-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

/* disable swiper arrow */
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 36px !important;
}

.is-sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.is-sticky .top-header {
    display: none;
}

.is-sticky .fadeDown {
    width: 83.333333%;
    left: 0;
    right: 0;
}

.unstyle {
    list-style: unset;
}

.fadeDown {
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes flagAnimation {

    0%,
    100% {
        transform: rotate(25deg);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: rotate(45deg);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes lanternAnimation {

    0%,
    100% {
        transform: rotate(-25deg);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    50% {
        transform: rotate(-5deg);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
}

@keyframes airplaneAnimation {

    0%,
    100% {
        transform: translate(5px, 20px);
    }

    50% {
        transform: translate(0px, 0px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}